/* Stylesheet Barroc-it*/
*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}
html{
    background: #FFFFFF;
    height: 100%;
}
body{
    height: 100%;
}
li{
    list-style-type: none;
}
.jumbo{
    background: #f2f2f2;
}
.hidden{
    display: none;
}
.wrapper{
    width: 1280px;
    margin: 0 auto;
}
.form-group{
    margin-bottom: 15px;
}
label{
    color: #CFC1B5;
    text-shadow: 1px 1px 1px black;
}
input{
     text-rendering: auto;
     color: initial;
     letter-spacing: normal;
     word-spacing: normal;
     text-transform: none;
     text-indent: 0px;
     text-shadow: none;
     display: inline-block;
     text-align: start;
     margin: 0em;
     font: 13.3333px Arial;
 }
.container{
    background: url(../images/background-loginpage.jpg) no-repeat;
    /* background-size: 100%; */
    background-size: cover;
    height: 100%;
}
nav{
    height: 50px;
    display: flex;
    align-items: center;
    background: #f2f2f2;
}
nav ul{
    display: flex;
}
nav ul li{
    margin-right: 20px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    background: gray;
    border: 0;
    border-radius: 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
nav ul li a:hover{
    background-color: dimgray;
    color: white;
}
/* Index */
.wrapper.title{
    padding-top: 160px;
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
}
.title h1{
    text-shadow: 2px 2px 3px black;
    color: gray;
    font-size: 50px;
    margin-top: 30px;
}
.loginbox{
    padding: 10px 25px;
    margin: 150px auto 0 auto;
    width: 400px;
    height: 250px;
    background: rgba(0,0,0,0.4);
    color: #777;
}
#loginbox{
    padding: 50px 0 0 0;
}
.form-control{
    display: block;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
input.form-control{
    border-radius: 0px;
    border-color: #CFC1B5;
    box-shadow: 1px 1px 2px black;
}
#login{
    background: #CFC1B5;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: gray;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#login:hover{
    background-color: dimgray;
    color: white;
}
/* Project Page*/
.projectbox{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    background: white;
}
.projectbox li{
    width: 25%;
}
.projectstatusGood{
    width: 25%;
    color: lightgreen;
}

.projectstatusBad{
    width: 25%;
    color: red;
}


.customername{
    width: 25%;
}
.project{
    width: 25%;
    margin-left: 10px;
}
.projectbutton{
    margin-right: 10px;
}
.projectbutton a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    background: gray;
}
.projectbutton a:hover{
    background-color: dimgray;
    color: white;
}
.projectactive{
    color: #00cd2d;
}
.projectinactive{
    color: #cd001b;
}
#projectheader{
    display: flex;
    justify-content: inherit;
}
#projectheadern{
    margin-right: 35px;
}
#projectheaders{
    margin-left: 60px;
}
#projectSearch{
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-right: 5px;
}
/* Clients page */
.clientbox{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    background: white;
}
.client-list{
    height: 100%;
}
.client-list h2{
    font-size: 30px;
    text-shadow: 2px 2px 3px black;
    color: #CFC1B5;
}
.project-list{
    height: 100%;
}
.project-list h2{
    font-size: 30px;
    text-shadow: 2px 2px 3px black;
    color: #CFC1B5;
}
.clientbutton{
    margin-right: 10px;
}
.clientbutton a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    background: gray;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.clientbutton a:hover{
    background-color: dimgray;
    color: white;
}
.customername{
    margin-left: 10px;
    width: 25%;
}
.clientpageheader{
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    background: white;
}
.creditworthy{
    width: 25%;
}
#creditheader{
    width: 25%;
}
#clientSearch{
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-right: 5px;
}
/* Project page*/
.projectdetailbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 50px;
}
#ptitle{
    margin-bottom: 20px;
}
#editProject{
    margin-top: 50px;
    width: 500px;
}
#editProject input{
    width: 100%;
}
#editProject #submit{
    width: 25%;
    text-align: center;
}
/* Add client Page */
.addclientbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#addClient{
    margin-top: 50px;
    width: 500px;
}
#addClient input{
    width: 100%;
}
#addClient #submit{
    width: 25%;
    text-align: center;
}
/* Finance homepage */
#companyName{
    margin-left: -50px;
}
.companyName{
    margin-left: -460px;
}
/* */
#createOffer input{
    width: 100%;
}
#createOffer #submit{
    width: 25%;
    text-align: center;
}
/* offerte list */
.offertePageHeader{
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    background: white;
    text-align: center;
}
.offerteBox{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background: white;
    text-align: center;
}
.offerte-list{
    height: 100%;
}
.offerte-list h2{
    font-size: 30px;
    text-shadow: 2px 2px 3px black;
    color: #CFC1B5;
}
.client_name{
    width: 10%;
}
.createOffer{
    width: 10%;
}
.createOffer a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    background: gray;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.createOffer a:hover{
    background-color: dimgray;
    color: white;
}
.offerButton{
    width: 10%;
}
.offerButton a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    background: gray;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.offerButton a:hover{
    background-color: dimgray;
    color: white;
}
.details{
    width:10%;
}
.create{
    width: 10%;
}
/*offer page per client*/
.clientname{
    text-align:center;
    font-size: 30px;
    text-shadow: 2px 2px 3px black;
    color: #CFC1B5;
}
.offer table{
    margin: 0 auto;
    background-color:white;
}
.offer table, th, td{
    border: 1px solid black;
}
.offer th, td{
    padding-right: 20px;
    text-align: center;
}
.offer td{
    background-color: #e9e4e5;
}
.offer .offerButton{
    width: 0;
    border: 0;
    background: transparent;
    padding: 0;
}
.clientdetailpage{
    margin-left: 35%;
}
